*{
    margin: 0;
    padding: 0;
}

html {
    font-size: 50px;
    text-align: center;
    background-color: blueviolet;
    color: #fff;
}

section{
    min-height: 800px;
    background: url('opium.jpg') center/cover no-repeat;
}

.myProjects{
    margin-top: 30px;
}
.myProjects a{
    color: rgb(201, 24, 24);
}